{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-prettier"],
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": [true, { "trailingComma": "none" }],
    "at-rule-empty-line-before": null,
    "function-url-quotes": "never",
    "string-quotes": "single",
    "scss/no-global-function-names": null,
    "no-invalid-position-at-import-rule": null,
    "no-descending-specificity": null,
    "selector-type-no-unknown": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ]
  }
}
